<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="jsonlogs">
        <appender name="JsonConsole" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        </appender>

        <appender name="JsonRollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>%d{yyyy-MM-dd}.%i.${LOG_FILE}</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <totalSizeCap>10GB</totalSizeCap>
                <maxHistory>30</maxHistory>
                <cleanHistoryOnStart>false</cleanHistoryOnStart>
            </rollingPolicy>
        </appender>

        <root level="INFO">
            <appender-ref ref="JsonConsole"/>
            <appender-ref ref="JsonRollingFile"/>
        </root>
    </springProfile>

    <springProfile name="stdlogs">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>